body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fafafa;
}
.title-bar {
  padding: 20px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__button {
    padding: 12px;
    background-color: #555555;
    color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    border: none;
    transition: opacity 400ms linear;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    &:hover {
      opacity: 75%;
    }
  }
}

//Add your scss below this line
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  font-family: Arial, Helvetica, sans-serif;
  @media (max-width: 800px) {
    margin-top: 2em;
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  margin: 20px;
  border-radius: 10px;
  padding: 5px 10px;
  @media (min-width: 600px) {
    max-width: 30%;
  }
  &__image {
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin: 5px;
    @media (min-width: 400px) {
      height: 125px;
    }
    @media (min-width: 1000px) {
      height: 200px;
    }
  }
  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & > .tag {
      padding: 5px;
      background-color: #bcbcbc;
      color: #fff;
      border-radius: 1em;
      margin: 5px;
      text-transform: lowercase;
    }
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: ease-in-out .5s;
  } 
}